table.v-table {
  thead {
    height: 3em;
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
  }

  tr:not(.v-datatable__progress):not(.v-datatable__expand-row) {
    height: 2em;
  }

  tbody {
    td, th {
      height: 1em;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

}